<div style="padding: 0; background: #000000">
    <?php echo do_shortcode('[instagram-feed]'); ?>
    <div class="row" style="margin: 0">
        <footer style="background: #000">
            <div class="container" style="width: 100%">
                <div class="np-footer" style="padding: 22px 40px">
                    <p class="np-meta">Life as Lisa-Monique</p>
                    <p class="footer-text np-meta" style="margin: 0; float: right;">
                        Theme developed by <a href="www.lisa-monique.github.io">Lisa-Monique Edward</a>
                    </p>
                </div>
            </div>
            
        </footer>
    </div>
</div>


<button class="fa fa-arrow-circle-o-up" onclick="topFunction()" id="top-link" title="Go to top"></button>
</body></html>