<nav role="navigation" class="navbar navbar-default">
    <div class="container">
        <!-- Title -->
        <div class="navbar-header pull-left">
        </div>

        <!-- 'Sticky' (non-collapsing) right-side menu item(s) -->
        <div class="navbar-header pull-right">
            <ul class="nav pull-left social-links">
                <li class="navbar-text pull-left"><a href="https://www.instagram.com/_lisxmonique/"><i class="fa fa-instagram"></i></a></li>
                <li class="navbar-text pull-left"><a href="https://www.facebook.com/lisamonique.edward"><i class="fa fa-facebook"></i></a></li>
                <li class="navbar-text pull-left"><a href="https://github.com/Lisa-Monique"><i class="fa fa-github"></i></a></li>
                <li class="navbar-text pull-left"><a href="https://www.linkedin.com/in/lisa-monique-edward-a3054410b/"><i class="fa fa-linkedin"></i></a></li>
                <li class="navbar-text pull-left"><a href="https://lisa-monique.github.io"><i class="fa fa-link"></i></a></li>
            </ul>

            <!-- Required bootstrap placeholder for the collapsed menu -->
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Additional navbar items -->
        <div class="collapse navbar-collapse navbar-right">
        <!-- pull-right keeps the drop-down in line -->
            <ul class="nav navbar-nav pull-right">
                <li><a href="{{site.baseurl}}/about">About Me</a></li>
                <li><a href="{{site.baseurl}}/contact">Contact</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse navbar-left">
        <!-- pull-right keeps the drop-down in line -->
            <ul class="nav navbar-nav pull-right">
                <li><a href="{{site.baseurl}}/categories/life-in-canada">Life in Canada</a></li>
                <li><a href="{{site.baseurl}}/categories/art">Art</a></li>
                <li><a href="{{site.baseurl}}/categories/academic-life">Academic Life</a></li>
            </ul>
        </div>
    </div>
  </nav>