---
layout: archive
---
<h1 class="archive-title">Posts about {{page.title}}</h1>

{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

{% for post in site.categories.[page.category] %}
  <div class="index-fullview">
    <div class="index-entry" >
        <div class="post-thumbnail">
            <a href="{{site.baseurl}}{{ post.url }}">
            <img src="{{site.baseurl}}/img/{{post.thumbnail}}">
            </a>
        </div>
        <div class="post-entry">
            <div class="post-wrapper">
                <div class="entry-header">
                    <div class="category">
                        <span class="catindex">
                            <div>{{post.categories | first}}
                            </div>
                        </span>
                    </div>
                    <h2 class="entry-title">
                        <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
                    </h2>
                    <div class="post-meta" style="padding: 10px 0 5px; overflow: hidden;">
                        <span class="meta-info">
                            {{post.date | date: "%-d %B %Y" }} by
                            <a href="/index.php?page_id=13">
                            {{site.author}}</a>
                            <a href=""> 
                                <i class="fa fa-comments"></i> <!-- comments -->
                            </a>   
                        </span>
                    </div>
                </div>
                <div class="post-summary">
                    <p>{{post.excerpt}}...</p>
                </div>
                <div class="index-meta">
                    <div class="post-meta">
                        <div class="social-share">
                            <!-- share button plugin -->
                        </div>
                    </div>
                </div>
                <div class="readmore readbutton">
                    <a id="read-name" href="{{ post.url | prepend: site.baseurl }}">
                    <h3>
                        Read More...
                    </h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}