{% include header.html %}
{% include nav.html %}
  <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/logo2.svg" style="max-width: 400px; margin-left: auto; margin-right: auto; margin-top:-6%; display: block;"></a>

<h2 class=" page-heading">
    <a href="{{ post.url | prepend: site.baseurl }}">{{page.title}}</a>
</h2>

<div class="row" style="padding: 20px">
    <div class="col-md-4 post-thumbnail" >
        <img src="{{site.baseurl}}/img/{{page.thumbnail}}" alt=""  />
    </div>

{{content}}


</div>
{% include footer.html %}